input {
    border: none;
    outline: none;
    border-bottom: 2px solid $gray;
    min-height: 3em;
    font-size: $font-medium;
    transition: all ease .3s;
    padding: 1.5em 0 .25em 0;
    color: $black;
    background-color: transparent;

    &:focus {
        border-bottom: 2px solid $dark;
    }
}

fieldset {
    border: none;
    
    legend {
        position: relative;
        top: 20px;
        font-size: $font-small;
        color: $gray;
    }
}