* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    background-color: $light-gray;

    a {
        text-decoration: none;

        &:active,
        :hover,
        :visited,
        :focus {
            text-decoration: none;
        }
    }
}

::placeholder {
    color: $light-gray;
}


// Border radius
.round {
    border-radius: 15px;
}

.curv {
    border-radius: 25px;
}