// colors
$primary : #F52124;

$black : #000000;
$light-black : #343434;
$dark : #161616;

$gray : #656565;
$light-gray : #EAEAEA;

$white : #ffffff;

$warning : #f6c100;
$info : #1471ff;
$success : #24ce6b;
$danger : #f7034c;


//font size

$font-small : 14px;
$font-medium : 20px;
$font-large : 25px;

// mixin
@mixin colorize($color) {
    background-color: $color;

    &:hover {
        background-color: darken($color: $color, $amount: 7);
    }
}

// fonts
@font-face {
    font-family: capsule;
    src: url(../../public/fonts/Capsule-Black.ttf);
}